# MariaDb Client
[client]
socket   = /var/run/mysqld/mysqld.sock
port     = 3306

# The MariaDB server
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
skip-networking = 0
port            = 3306
bind-address    = 0.0.0.0
skip-host-cache

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
